#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.flex{
  display: flex;
  flex-direction: column;
}
.flex-start{
  text-align: start;
}
.gap-4{
 gap: 1rem; 
}
.generatedPswd{
  font-size: large;
  line-height: 1rem;
  margin-bottom: 2rem;
  color: blueviolet;
}
.marginBottom-2{
  margin-bottom:2rem;
}
.error{
  color: red;
  font-size: large;
  margin-bottom: 10px;
}